[user]
	email = pgoshulak@gmail.com
	name = Peter Goshulak
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  llog = log --date=local
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  changes=diff --name-status -r
  diffstat=diff --stat -r
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[core]
	editor = vim
[fetch]
	prune = true
